.container {
    margin: auto;
    margin-top: 40px;
    width: 30em;
    height: 30em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 10em;
    border: solid 1px black;
    width: 1em;
    height: 1em;
}
